body {
  font: 14px sans-serif;
  padding: 1rem;
  margin: 0;
  max-width: 700px;
}

h1, h2, h3, h4 {
  margin: .5rem 0;
  padding: 0;
}

p {
  margin: .5rem 0 1rem 0;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  margin: 0;
}

header h1 a:hover {
  text-decoration: underline;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.columns {
  line-height: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
}

.columns div {
  margin-right: 1rem;
}

.columns div:last-child {
  margin-right: 0;
}

@media screen and (min-width: 500px) {
  .columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  body {
    margin-top: 2rem;
    padding-left: 12rem;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80px 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #ddd;
  }

  a {
    color: #ddd;
  }

  a:visited {
    color: #4182FF;
  }

  #tagline h1 a,
  #tagline h1 a:visited{
    color: #ddd;
  }

  #download {
    background-color: #888;
    border: 1px solid #aaa;
    color: #000;
  }

  #download a,
  #download a:visited {
    color: #22f;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }

  a {
    color: #00f;
  }

  a:visited {
    color: #00f;
  }

  #tagline h1 a,
  #tagline h1 a:visited{
    color: #000;
  }

  #download {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #222;
  }
}

#tagline {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.15em;
  padding-bottom: 7px;
}

#tagline h1 {
  font-family: Sans-serif;
  font-size: 2em;
  line-height: 1em;
  vertical-align: middle  ;
}

#download {
  border-radius: 3px;
  padding: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
}

#download h2 {
  margin-top: 0;
}

#download a {
  text-decoration: underline;
}

.download-links {
  font-size: 1.5em;
  font-weight: bold;
}
