<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decal Plugin Templates</title>
    <meta charset="utf-8" />
    <meta name="description" content="Decal plugin templates">
    <meta property="og:title" content="Decal Plugin Templates" />
    <meta property="og:description" content="Plugin templates for Decal" />
    <meta property="og:image" content="/images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div id="tagline">
        <h1><a href="/">Decal</a></h1>
        <span>A plugin environment for <a href="http://ac.turbine.com">Asheron's Call</a>.</span>
      </div>
    </header>
    <div>
      <div>
        <h2>Plugin Templates</h2>
        <p>While we generally think it's a better idea to make plugins from scratch, the easiest way to figure out how to do
          that is to use a plugin template to get a feel for the general initialization and shutdown routines necessary. Here's
          a list of the plugin templates various people have made.</p>
        <h2>Virindi</h2>
        <p>Virindi hosts a public repository with various Decal related source code on it at <a
            href="http://www.virindi.net/source/">http://www.virindi.net/source/</a>.</p>
        <h2>Mag-nus</h2>
        <p>Mag-nus has a plugin template <a href="http://www.virindi.net/junk/Mag_SamplePlugins.zip">available</a> and you might
          find this <a href="http://forums.decaldev.com/phpBB2/viewtopic.php?f=9&amp;t=8682">VNBoards thread</a> useful.</p>
        <h2>Wolf</h2>
        <p>Wolf has a Decal.Adapter plugin template <a href="http://www.the-lonewolf.com/PluginFramework.aspx">available</a>.
          It's a little dated, but it should still work without major changes. Lino has also made a modified version <a
            href="http://ac.ranta.info/installer/PluginTemplate2.9.6.0-en.zip">available</a>.</p>
      </div>
    </div>
    <footer>
      <p>Asheron's Call is copyright &copy; Turbine Entertainment</p>
    </footer>
  </body>
</html>
